<template name="righteditorTemplate">

    <div class="panel panel-default">
        <div class="panel panel-default">
            <div class="panel-heading">
                <select id ="selNotebook">
                    {{#each notebookList}}
                      <option value={{_id}}>{{notebookname}}</option>

                    {{/each}}
                </select>
                
            </div>
            <div class="panel-body">
                <input type="text" id="txttitle" class="form-control" >
                <textarea id="txteditor" placeholder="Enter text ..." style="width: 100%;height: 100%"></textarea>
            </div>
            <div class="panel-footer">
                <p>
                    Add files
					<span class="btn btn-default btn-file">
						<input type="file" class="file fileInput" multiple />
					</span>
                    <input type="button" id="btnSaveNote" value="Save" class="btn btn-primary">
                </p>
            </div>
        </div>
    </div>

</template>