
<template name="homeTemplate">
    <div class="container">

        <div class="panel">
            <div class="panel-body">
                {{>loginButtons }}
            </div>


            <table border="0" cellpadding="2" cellspacing="4" width="100%">
                <tr>
                    <td valign="top" class="panelLeft" >{{>leftnavTemplate}}</td>
                    <td valign="top" class="panelCenter">{{>centerlistTemplate}}</td>
                    <td valign="top" class="panelRight">{{>righteditorTemplate}}</td>

                </tr>
            </table>


        </div>

    </div>

</template>




