
<template name="historytemplate">

    <div class="panel panel-default" id="divhistory" style="display: none">
        <!-- Default panel contents -->



            {{#each historylist}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <b><small>Modified :    {{prettifyDate modifieddate}} </small></b>
                    </div>
                    <div class="panel-body">
                        <b> {{title}} </b><br>
                        <hr/>
                        {{content}}
                    </div>
                    <div class="panel-footer">
                      Edited By: {{editedBy}}
                    </div>
                </div>

            {{else}}
                <div class="panel panel-default">
                    <div class="panel-body">
                        No data available for this note.
                    </div>

                </div>
            {{/each}}

        <span class="label label-default" style="float:right;cursor:pointer;margin:5px" onclick="$('#divhistory').hide()">Close</span>

    </div>

  </template>
