<template name="leftnavTemplate">

        <div class="list-group">
            <a href="#" class="list-group-item active">
                <span class="glyphicon glyphicon-folder"></span> <b>Actions</b>
            </a>
            <a href="#" class="list-group-item" onclick="$('#notebookModal').modal('show');">
                <span class="glyphicon glyphicon-pin"></span>
                Add Notebook
            </a>
            <a href="#" class="list-group-item clsAddNote">
                <span class="glyphicon glyphicon-pin"></span>
                Add Note
            </a>
            <a href="#" class="list-group-item" onclick="$('#helpModal').modal('show');">
                <span class="glyphicon glyphicon-help"></span>
                Help
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <span class="glyphicon glyphicon-folder"></span> <b>Note Books</b> <span class="badge">{{notebookscount}}</span>
            </a>

           {{#each notebookList}}

               <a href="#" class="list-group-item nb" data-loading-text="Loading..."  id={{_id}} >
                   <span class="glyphicon glyphicon-bookmark clsnotebook" ></span> {{notebookname}} <span class="badge"> {{notesinthebook}}</span>
               </a>

           {{/each}}


        </div>
    <div class="list-group">
        <a href="#" class="list-group-item clsSharedNote">
            <span class="glyphicon glyphicon-share " ></span> <b>Shared</b> <span class="badge">{{getSharedListCount}}</span>
        </a>


    </div>
        <div class="list-group">
            <a href="#" class="list-group-item clsnotedisplay">
                <span class="glyphicon glyphicon-file " ></span> <b>Notes</b> <span class="badge">{{notesCount}}</span>
            </a>
        </div>

        <div class="list-group">
            <a href="#" class="list-group-item active">
                <span class="glyphicon glyphicon-tags"></span> <b>Tags</b> <span class="badge">{{tagCount}}</span>
            </a>

           {{#each tagslist}}

               <a href="#" class="list-group-item clsTagsNotes" data-loading-text="Loading..." data-tagname={{tagname}} >
                   <span class="glyphicon glyphicon-unchecked"></span> {{tagname}} <span class="badge">{{tagsInNotes}}</span>
               </a>

           {{/each}}

        </div>

    <div class="modal fade" id="notebookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create Notebook</h4>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" id="notebookName" type="text" name="notebookname" placeholder="Name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="createNotebook" class="btn btn-primary">Create</button>
                    </div>

            </div>
        </div>
    </div>



    </template>